// Colors


$color-accent-primary: #FF4F27;
$color-accent-secondary: #800CEC;

$color-background: #F2F2F2;
$color-foreground: #251E20;

$color-wash-dark: lighten($color-foreground, 30%);
$color-wash-light: lighten($color-foreground, 90%);
