// Colors


$color-accent-primary: #FF4F27;
$color-accent-secondary: #800CEC;

$color-background: #F5F5F5;
$color-foreground: #2B2B2B;

$color-wash-dark: lighten($color-foreground, 30%);
$color-wash-light: lighten($color-foreground, 90%);
