// @import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,600&subset=japanese');

$iota-tools-ms-base: 18px;
$iota-tools-ms-ratio: 1.2;

$iota-type-line-height: 1.8;

$iota-type-family-default: 'Poppins', sans-serif;
$iota-type-family-ja: 'ヒラギノ角ゴ ProN' , 'Hiragino Kaku Gothic ProN' , '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic' , 'メイリオ' , Meiryo , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 , 'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif;;
