@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic&display=swap');

$iota-tools-ms-base: 24px;

$iota-type-family-default: 'Inter', sans-serif;
$iota-type-family-ja: 'Sawarabi Gothic', 'ヒラギノ角ゴ ProN' , 'Hiragino Kaku Gothic ProN' , '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic' , 'メイリオ' , Meiryo , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 , 'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif;;
