$iota-tools-ms-base: 18px;
$iota-tools-ms-ratio: 1.2;

$iota-type-line-height: 1.8;

$iota-type-family-default: 'Inter', sans-serif;
$iota-type-family-ja: 'ヒラギノ角ゴ ProN' , 'Hiragino Kaku Gothic ProN' , '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic' , 'メイリオ' , Meiryo , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 , 'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif;;
