body {
  font-family: $iota-type-family-default;
  color: $color-foreground;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:lang(ja-Jp) 	{
  font-family: $iota-type-family-ja;
}

::selection {
  background: $color-foreground;
  color: $color-background;
}
