// white-space Utility

$iota-utils-whitespace-value: (
  '-pre': pre,
) !default;

// Helper Local Variables

$iota-utils-whitespace-namespace : 'whitespace' !default;
$iota-utils-whitespace: $iota-global-utilities-namespace + $iota-utils-whitespace-namespace;

// Generate white-space

@each $name, $value in $iota-utils-whitespace-value {
  .#{$iota-utils-whitespace + $name} {
    white-space: $value;
  }
}
