// Button component

// Options

$iota-components-button: true;

$iota-components-button-namespace: 'button';

$iota-components-buttons-colors: (
  primary: (
    color: $color-accent-primary,
    hover: $color-accent-secondary,
    text: $color-accent-primary,
  ),
  secondary: (
    color: $color-accent-secondary,
    hover: $color-accent-primary,
    text: $color-accent-secondary,
  ),
  disabled: (
    color: $color-wash-light,
    hover: $color-wash-light,
    text: $color-wash-light,
  ),
);

$iota-components-button-border-width: 2px;
$iota-components-button-radius: 100px;
$iota-components-button-shadow: 10px 35px 0 rgba(black, 0.1);
$iota-components-button-shadow--is-active: 10px 15px 0 rgba(black, 0.1);

// Helper Local Variables

$iota-components-button: $iota-global-components-namespace + $iota-components-button-namespace;

// Button Component

.#{$iota-components-button} {
  position: relative;
  display: inline-block;
  padding: 0;
  font: inherit;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-property:
    transform,
    background-color,
    border-color,
    color;
  user-select: none;
  will-change:
    transform,
    background-color,
    color,
    border-color;
}

// Outline type

.#{$iota-components-button}-outline {
  background-color: $color-background;
  border-style: solid;
  border-width: $iota-components-button-border-width;
  border-radius: $iota-components-button-radius;
}

// Colors modifier

@each $name, $color in $iota-components-buttons-colors {
  // initial

  .#{$iota-components-button}-outline.#{$iota-components-button}--#{$name} {
    color: map-get($color, 'text');
    border-color: map-get($color, 'color');
  }

  // hover

  @include iota-breakpoint(sm) {
    .#{$iota-components-button}-outline.#{$iota-components-button}--#{$name}:hover {
      color: map-get($color, 'hover');
      border-color: map-get($color, 'hover');
    }
  }

  // active

  .#{$iota-components-button}-outline.#{$iota-components-button}--#{$name}:active {
    color: map-get($color, 'hover');
    border-color: map-get($color, 'hover');
  }
}

// Disabled modifier
.#{$iota-components-button}--disabled {
  cursor: not-allowed;
}
