@import 'tailwindcss';

@layer base {
  @font-face {
    font-family: 'Inter var';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('~/assets/font/InterVariable.woff2') format('woff2');
    font-named-instance: 'Regular';
  }

  body {
    @apply text-neutral-950 bg-neutral-950 antialiased text-lg font-medium selection:bg-neutral-200;
  }
}

@theme {
  --font-sans: "Inter var", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --animate-shine: shine 4s linear infinite;
  @keyframes shine {
    to {
      background-position: -200% center;
    }
  }
}

@layer components{
  .container {
    @apply !max-w-full px-4 w-full;

    @variant lg {
      @apply w-full max-w-full px-10;
    }
  }

  html.lenis, html.lenis body {
    @apply h-auto;
  }

  .lenis.lenis-smooth {
    @apply !scroll-auto;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    @apply overscroll-contain;
  }

  .lenis.lenis-stopped {
    @apply overflow-hidden
  }

  .lenis.lenis-smooth iframe {
    @apply pointer-events-none;
  }

  .text-shine {
    @apply bg-clip-text bg-[linear-gradient(to_right,theme(colors.neutral.100)_0%,theme(colors.neutral.100)_20%,theme(colors.neutral.950)_40%,theme(colors.neutral.950)_60%,theme(colors.neutral.100)_70%,theme(colors.neutral.100)_100%)];
    background-size: 200% auto;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
