@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* inter-400 - latin */
  @font-face {
    font-weight: 400;
    font-family: Inter;
    font-style: normal;
    font-display: swap;
    src:
      url("~/assets/font/inter-v3-latin-regular.woff2") format("woff2"),
      url("~/assets/font/inter-v3-latin-regular.woff") format("woff"),
      url("~/assets/font/inter-v3-latin-regular.ttf") format("truetype"),
      url("~/assets/font/inter-v3-latin-regular.svg#Inter") format("svg"); /* Legacy iOS */
  }

  /* inter-500 - latin */
  @font-face {
    font-weight: 500;
    font-family: Inter;
    font-style: 500;
    font-display: swap;
    src:
      url("~/assets/font/inter-v3-latin-500.woff2") format("woff2"),
      url("~/assets/font/inter-v3-latin-500.woff") format("woff"),
      url("~/assets/font/inter-v3-latin-500.ttf") format("truetype"),
      url("~/assets/font/inter-v3-latin-500.svg#Inter") format("svg"); /* Legacy iOS */
  }

  body {
    @apply text-neutral-1 bg-neutral-12 antialiased;
  }
}

#__nuxt,
#__layout {
  @apply h-full;
}

@layer utilities {
  .text-shine {
    @apply bg-clip-text bg-[linear-gradient(to_right,theme(colors.neutral.1)_0%,theme(colors.neutral.5)_20%,theme(colors.neutral.11)_40%,theme(colors.neutral.11)_60%,theme(colors.neutral.5)_70%,theme(colors.neutral.1)_100%)];
    background-size: 200% auto;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shine 2s linear infinite;

    @keyframes shine {
      to {
        background-position: -200% center;
      }
    }
  }
}
