@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* inter-400 - latin */
  @font-face {
    font-weight: 400;
    font-family: Inter;
    font-style: normal;
    font-display: swap;
    src:
      url("~assets/font/inter-v3-latin-regular.woff2") format("woff2"),
      url("~assets/font/inter-v3-latin-regular.woff") format("woff"),
      url("~assets/font/inter-v3-latin-regular.ttf") format("truetype"),
      url("~assets/font/inter-v3-latin-regular.svg#Inter") format("svg"); /* Legacy iOS */
  }

  /* inter-500 - latin */
  @font-face {
    font-weight: 500;
    font-family: Inter;
    font-style: 500;
    font-display: swap;
    src:
      url("~assets/font/inter-v3-latin-500.woff2") format("woff2"),
      url("~assets/font/inter-v3-latin-500.woff") format("woff"),
      url("~assets/font/inter-v3-latin-500.ttf") format("truetype"),
      url("~assets/font/inter-v3-latin-500.svg#Inter") format("svg"); /* Legacy iOS */
  }

  html {
    @apply h-full text-foreground bg-background selection:bg-foreground selection:text-background;
  }

  body {
    @apply min-h-full;
  }

  :lang(ja-Jp) {
    @apply font-japanese;
  }
}
