@import 'tailwindcss';

/* -----------------------------------------------------------------------------
 * Custom Theme Tokens & Animations
 * -------------------------------------------------------------------------- */

@theme {
  /* Colors */

  --color-*: initial;

  --color-neutral-50: oklch(96.91% 0.002 145.56);
  --color-neutral-100: oklch(94.7% 0.003 145.55);
  --color-neutral-200: oklch(90.96% 0.005 145.53);
  --color-neutral-300: oklch(87.16% 0.008 139.44);
  --color-neutral-400: oklch(82.61% 0.012 141.26);
  --color-neutral-500: oklch(77.79% 0.014 141.8);
  --color-neutral-600: oklch(72.22% 0.017 139.44);
  --color-neutral-700: oklch(65.73% 0.022 142.98);
  --color-neutral-800: oklch(57.32% 0.024 140.86);
  --color-neutral-900: oklch(46.37% 0.019 142.46);
  --color-neutral-950: oklch(37.11% 0.014 141.2);

  --color-dark: oklch(31.54% 0.01 139.44);

  --color-yellow-500: oklch(83.04% 0.155 86.09);

  --color-green-500: oklch(68.61% 0.164 156.29);

  /* Fonts */

  --font-sans: "Inter var", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* Animations */

  --animate-shine: shine 4s linear infinite;
  @keyframes shine {
    to {
      background-position: -200% center;
    }
  }

  --animate-move: move 20s ease infinite;
  @keyframes move {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(50%, 25%);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  --animate-move2: move2 30s ease infinite;
  @keyframes move2 {
    0% {
      transform: translate(0%, 0%);
    }
    50% {
      transform: translate(20%, 10%);
    }
    100% {
      transform: translate(0%, 0%);
    }
  }
}

/* -----------------------------------------------------------------------------
 * Base Styles
 * -------------------------------------------------------------------------- */

 @layer base {
  @font-face {
    font-family: 'Inter var';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('~/assets/font/InterVariable.woff2') format('woff2');
    font-named-instance: 'Regular';
  }

  body {
    @apply text-neutral-950 bg-neutral-950 antialiased text-lg font-medium selection:bg-neutral-200;
  }
}

/* -----------------------------------------------------------------------------
 * Component Utilities
 * -------------------------------------------------------------------------- */

@layer components{
  .container {
    @apply !max-w-full px-4 w-full;

    @variant lg {
      @apply w-full max-w-full px-10;
    }
  }

  .layout {
    @apply grid grid-cols-3 gap-4;
    @variant sm {
      @apply grid-cols-3 gap-10;
    }
  }

  html.lenis, html.lenis body {
    @apply h-auto;
  }

  .lenis.lenis-smooth {
    @apply !scroll-auto;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    @apply overscroll-contain;
  }

  .lenis.lenis-stopped {
    @apply overflow-hidden
  }

  .lenis.lenis-smooth iframe {
    @apply pointer-events-none;
  }

  .text-shine {
    @apply bg-clip-text bg-[linear-gradient(to_right,theme(colors.neutral.100)_0%,theme(colors.neutral.100)_20%,theme(colors.neutral.950)_40%,theme(colors.neutral.950)_60%,theme(colors.neutral.100)_70%,theme(colors.neutral.100)_100%)];
    background-size: 200% auto;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
