// Colors

$color-accent-primary: #f0323c;
$color-accent-secondary: #d250e6;
$color-accent-tertiary: #facd23;
$color-accent-quaternary: #13a5ee;

$color-background: #0b0b0b;
$color-foreground: #f5f5f5;

$color-wash-dark: darken($color-foreground, 20%);
$color-wash-light: darken($color-foreground, 40%);
