$iota-global-flex: true;

$iota-global-breakpoints: (
  xs: "screen and ( max-width: 767px )",
  sm: "screen and ( min-width: 768px )",
  md: "screen and ( min-width: 1100px )",
);

$iota-global-columns: 3, 12;

@import 'node_modules/iotacss/settings/core';
