@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500&display=swap');

$iota-tools-ms-base: 24px;

$iota-type-family-default: 'Inter', sans-serif;
// $iota-type-family-default: 'JetBrains Mono', sans-serif;
$iota-type-family-ja: 'M PLUS 1p', 'ヒラギノ角ゴ ProN' , 'Hiragino Kaku Gothic ProN' , '游ゴシック' , '游ゴシック体' , yugothic , 'Yu Gothic' , 'メイリオ' , meiryo , 'ＭＳ ゴシック' , 'MS Gothic' , hirakakupron-w3 , 'TakaoExゴシック' , takaoexgothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif;
