// Box shadow Utility

$iota-utils-boxshadow-size: (
  '-l': '0 0 34px 0 rgba(0, 0, 0 , 0.1)',
  '-xl': '0 10px 70px 0 rgba(0, 0, 0, 0.15)',
);

// Helper Local Variables

$iota-utils-boxshadow-namespace : 'boxshadow';
$iota-utils-boxshadow: $iota-global-utilities-namespace + $iota-utils-boxshadow-namespace;

// Generate box-shadow

@each $size, $value in $iota-utils-boxshadow-size {
  .#{$iota-utils-boxshadow + $size} {
    box-shadow: #{$value};
  }
}
