// Delay Utility



// Helper Local Variables

$iota-utils-delay-namespace : 'delay';
$iota-utils-delay: $iota-global-utilities-namespace + $iota-utils-delay-namespace;

// Generate delay
@mixin _iota-utils-delay-util($from: 1, $total: 2, $initial: 0, $step: 0.5) {
  @for $number from $from through $total {
    .#{$iota-utils-delay}-#{$number} {
      transition-delay: #{$initial}s;
      animation-delay: #{$initial}s;
    }
    $initial: $initial + $step;
  }
}
@include _iota-utils-delay-util($from: 1, $total: 3, $initial: 1, $step: 0.5);
