$iota-objs-type-sizes: (
  xs: (
    null: (0.8rem,  1.625),
    sm: (0.9rem,  1.625),
  ),
  s: (
    null: (0.9rem,  1.625),
    sm: (1.1rem,  1.625),
  ),
  m: (
    null: (1.25rem,  1.625),
    sm: (2rem, 1.625),
  ),
  l: (
    null: (2rem,  1.375),
    sm: (5rem, 1.25),
  ),
);

@import 'node_modules/iotacss/objects/type';
